.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: crimson;
}

.h1 {
  color: crimson;
  background-color: black;
  padding: 8px;
  border-radius: 12%;
}

.list {
  list-style: none;
  display: flex;
  gap: 30px;
  color: ghostwhite;
}

.list li:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: ghostwhite;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}
